name: Send notification jobs

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Call notification worker
        run: |
          curl -X GET https://rotten-company.com/api/send-notifications
